*{
margin: 0;
padding: 0;
}
body{
    background-color: #EEE;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin:0 auto;
    padding:20px
}
header{

}
.img{
width: 130px;
height: 140px;
border:3px solid white;
border-radius: 50%;
float: left;
}
.header-bio{
    float: left;
    padding:30px;
}
h1,h2,h3,h4,h5,h6{
    color:#11999e;
}
.contact{
    float:right;
    padding:30px;
}
.contact a{
text-decoration: none;
color:teal;
font-weight: bold;
}
.contact a:hover{
    text-decoration: underline;
    color:tomato;
}
.div-clear{
    clear:both;
}
hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
#personal-section{

}
content{
    margin-bottom: 3px;
}
.left-div{
    width: 30%;
    float: left;
}
.right-div{
width: 70%;
float: left;
}
.comon-hr{
    border: solid black 1px;
    margin: 20px auto;
    width: 100%;
}
.edu-left{
 float: left;
 width: 45%;

}
.edu-right{
float:right;
width: 45%;
<!--footer-start->
}
.bottom-container{
 background-color: black;
 text-align: center;
 padding: 10px;

}
.bottom-container a{
 text-decoration: none;
 color: white;
 margin: 20px;
 
}

.bottom-container p{
 color:white;
 margin-top:20px;
 text-decoration: none;
 
}
.bottom-container a:hover{
    text-decoration: underline;
    color: tomato;
    cursor:pointer;
}
<!--footer-end-->